@media screen and (min-device-width: 320px) and (max-width: 667px) {
  .search-by-name-form {
    margin: 10px 0;
    flex-direction: column;
  }

  .search-by-name {
    display: block;
    position: relative;
    margin: 10px 0;
    width: 100%;
  }

  input {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1085px) and (-webkit-min-device-pixel-ratio: 2) {
  .search-by-name-form {
    margin-bottom: 10px;
  }
}

.name-filter {
  position: relative;
}

.search-by-name {
  display: block;
  position: relative;
  margin-right: 10px;
}

.search-for-name-label {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  display: flex;
  align-items: flex-start;
  align-self: start;
  position: absolute;
  cursor: text;
  top: 20px;
  left: 0;
  transition: 0.3s ease-in-out;

  &.selected {
    top: -5px;
    font-size: 0.75rem;
  }
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  min-width: 300px;
}

label,
input {
  letter-spacing: 0.00938em;
  height: 30px;
  font-size: 1rem;
}

.search-by-name-form {
  display: flex;
  margin-top: 24px;
}

input:focus + label {
  color: #1976d2;
  top: -5px;
  font-size: 0.75rem;
}

input::after {
  display: block;
  content: "";
  border-bottom: 3px solid #1976d2;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

input:focus::after {
  transform: scaleX(1);
}

.search-hits-container {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.75rem;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: white;
  box-shadow: 3px 3px 5px #aaaaaa;
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: white;
  padding: 10px;

  .search-hits {
  }
}
