@media screen and (min-device-width: 320px) and (max-width: 667px) {
  form {
    margin: 10px 0;
    flex-direction: column;
  }

  .custom-select {
    display: block;
    position: relative;
    margin: 10px 0;
    width: 100%;
  }

  select {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1085px) and (-webkit-min-device-pixel-ratio: 2) {
  form {
    margin-bottom: 10px;
  }
}

.custom-select {
  display: block;
  position: relative;
  margin-right: 10px;
}

label {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
  display: flex;
  align-items: flex-start;
  align-self: start;
  position: absolute;
  cursor: text;
  top: 20px;
  left: 0;
  transition: 0.3s ease-in-out;

  &.selected {
    top: -5px;
    font-size: 0.75rem;
  }
}

select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  outline: none;
  min-width: 300px;
}

label,
select {
  letter-spacing: 0.00938em;
  height: 30px;
  font-size: 1rem;
}

form {
  display: flex;
}

select:focus + label {
  color: #1976d2;
  top: -5px;
  font-size: 0.75rem;
}

select::after {
  display: block;
  content: "";
  border-bottom: 3px solid #1976d2;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

select:focus::after {
  transform: scaleX(1);
}
