main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  row-gap: 10px;
  justify-content: stretch;
}

header {
  background-color: #ffffff;
  grid-row: 1/2;
  display: flex;
  align-items: center;
}

footer {
  grid-row: 3/4;
}

nav {
  margin-bottom: 12px;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li {
      margin-right: 12px;

      a {
        padding: 3px 5px;
        text-decoration: none;
        &.active {
          border-bottom: 2px solid #0070bb;
        }
      }
    }
  }
}
