nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    li {
      margin-right: 12px;

      a {
        padding: 3px 5px;
        text-decoration: none;
        &.active {
          border-bottom: 2px solid #0070bb;
        }
      }
    }
  }
}
