.button {
  border-radius: 5px 5px;
  outline: none;
  border: 1px solid black;
  background-color: transparent;
  padding: 3px 7px;
  font-size: 12px;
  cursor: pointer;

  &.small {
    font-size: 1px;
    padding: 2px 5px;
  }

  &:hover:not(:disabled) {
    background-color: black;
    color: white;
  }

  &:disabled {
    cursor: text;
    color: rgb(190, 188, 188);
    border-color: rgb(190, 188, 188);
  }

  &.primary {
    background-color: #0070bb;
    border: 2px solid #0070bb;
    color: white;

    &:hover {
      background-color: transparent;
      color: #0070bb;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 810px) and (max-device-width: 1085px) and (orientation: landscape) {
  .button {
    padding: 3px 20px;
  }
}
